body {
    font-family: 'Source Code Pro', monospace;
    background-color: #232323;
}

.header {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    cursor: default;
    margin-top: 100px;
}

.players {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
    justify-content: center;
}

.players .label {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    border: #fff solid 2px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.players .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
    color: #fff;
    font-size: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.btnDiv {
    display: flex;
    justify-content: center;
    margin: 50px 30px 20px 30px;
}

.startBtn {
    background-color: transparent;
    color: #fff;
    border: solid #fff 1px;
    border-radius: 3px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    animation: pulse 1.5s;
    animation-iteration-count: infinite;
}

.gameBoard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameDisplay {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

#gameBoard {
    background-color: #232323;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    max-width: 19rem;
    margin: 0 auto;
}

#gameBoard span {
    background-color: #999;
    color: #000;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-size: 5rem;
    border: 2px solid #444;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: 1s;
}

#gameBoard span.win {
    background-color: #25a340;
}

.cursor-pointer {
    cursor: pointer;
}